/dist/
/dist-newstyle/
/TAGS
/IWlib.hs
/StatFS.hs
/XUtil.hs
/src/IWlib.hs
/src/StatFS.hs
/src/XUtil.hs
/web/index.html
/web/releases.html
/cabal-dev/
.cabal-sandbox
cabal.sandbox.config
.stack-work
/web/readme.md
/.idea/
/xmobar.iml
/out/
/cabal.config
codex.tags
cabal.project.local